<ion-header>
  <ion-toolbar>
    
    <ion-title>Receita Detalhe</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/receita"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteReceita(receitaAtual)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="receitaAtual.imagemUrl" style="height: auto; width: auto;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>{{receitaAtual.titulo}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ing of receitaAtual.ingredientes">
              {{ing}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
