<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-text-uppercase">
    <h1>Projeto Final - DWMP2</h1>
    <h4 class="ion-margin">Aluno: Renan Costa da Silva</h4>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tabela FIPE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="ion-text-justify">
        <p class="ion-margin">
          Resumo: A API de Consulta Tabela FIPE foi desenvolvida para facilitar
          o acesso aos dados disponíveis na Tabela FIPE, como marcas nacionais e
          modelos de Carro, Motos e Caminhões.
        </p>
        <p class="ion-margin">http://fipeapi.appspot.com/</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Stars Wars</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Consulta da API do Stars Wars, retorando uma listagem dos personagens
      </p>
      <p>https://swapi.co/api/</p>
    </ion-card-content>
  </ion-card>
</ion-content>
